@charset "UTF-8";

/* local */

.content {
    display: flex;
    flex-direction: column;
    align-items: space-between;

    width: min(100%,1200px);
    padding: 0px;

    margin: 0 auto;
}
.content .header {
    display: flex;

    width: 90%;
        max-width: 1300px;

    margin: 0 auto;
}
.content .main {
    display: flex;
    align-items: center;

    width: 95%;
        max-width: 1400px;

    margin: 20px auto;
}
.content .main .logo {
    display: none;

    background-color: rgba(0,0,0,0.1);
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.content .accountTabs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 15px;

    margin: 0 auto;
}
.content .accountTabs section {
    display: flex;
    flex-direction: column;

    flex: 1;
}
.accountTabs .chooseTab {
    border-bottom: solid 1px rgba(0,0,0,0.3);

    margin: 0px 0px;
}
.chooseTab .itemHolder {
    display: flex;
    flex-direction: row;
    gap: 25px;

    padding: 0px;

    margin: 0px;
}
.chooseTab .itemHolder .item {
    position: relative;

    font-family: Verdana;
    font-weight: normal;
    font-size: 15px;

    cursor: pointer;

    padding: 10px 0px 15px 0px;
}
.chooseTab .itemHolder .item.active {
    color: var(--mainColor);
}
.chooseTab .itemHolder .item.active::before {
    position: absolute;
    bottom: -2px;
    left: 10%;

    content: "";

    background-color: var(--mainColor);
    width: 80%;
    height: 4px;
    border-radius: 3px;
}
.chooseTab .itemHolder .item:hover {
    color: var(--mainColor);
}
.accountTabs .tab {
    min-width: 200px;
    min-height: 300px;
    border-radius: 19px;
}
.accountTabs .tab h5.title {
    margin: 10px 0px;
}
.accountTabs .tab h4.title {
    display: none;
}
.accountTabs .signInTab {
    display: none;
    flex-direction: column;
    gap: 0px;

    min-height: 250px;
    padding: 10px;

    overflow: hidden;
}
.accountTabs .signInTab.active {
    display: flex;
}
.signInTab .submit {
    background-color: var(--orange);
    width: 100%;
    height: 42px;
    border: none;
    outline: none;    
    border-radius: 24px;

    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    color: white;

    cursor: pointer;

    transition: background-color 100ms linear, color 100ms linear;
}
.signInTab .submit[disabled] {
    background-color: rgb(110,110,110);

    cursor: auto;
    
    color: rgb(200,200,200);
}
.signUpTab {
    display: none;
    flex-direction: column;
    padding: 10px;


    overflow: hidden;
}
.signUpTab.active {
    display: flex;
}
.signUpTab .signUpOptions {
    display: flex;
    flex-direction: column;

    background-color: transparent;
    padding: 0px;

    margin: 10px 10px;
}
.signUpTab .signUpOptions .outerItem {
    display: flex;
    align-items: center;

    width: 100%;
    height: auto;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    padding: 8px 0px;

    -webkit-user-select: none;
    user-select: none;

    margin: 0px;
}
.signUpTab .signUpOptions .outerItem .innerItem {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    background-color: transparent;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-sizing: border-box;
        padding: 0px 10px;
    
    cursor: pointer;

    -webkit-user-select: none;
    user-select: none;
}
.signUpTab .signUpOptions .outerItem .innerItem:hover {
    background-color: rgba(0,0,0,0.1);
}
.signUpTab .innerItem .name {
    font-family: Arial;
    color: rgba(0,0,0,0.7)
}
.signUpTab .innerItem .icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.signUpTab .innerItem .icon.logo {
    background-color: var(--orange);
}
.signUpTab .innerItem .icon.arrow {
    width: 0px;
    height: 0px;
        border-left: 10px var(--orange) solid;
        border-top: 8px transparent solid;
        border-bottom: 8px transparent solid;
    border-radius: 0px;

    margin: 0px 0px 0px auto;;
}
.signUpTab .innerItem:hover .icon.logo {
    background-color: grey;
}
.signUpTab .innerItem:hover .icon.arrow {
    border-left: 10px grey solid;
}
.content .footer {
    width: 90%;
    
    margin: 0 auto;
}
.footer .itemHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    padding: 0px;

    margin: 40px 0px 30px 0px;
}
.footer .itemHolder .item {
    text-align: center;
}
.footer .itemHolder .item .itemDecoration {
    position: relative;

    display: flex;
    
    font-family: Calibri;
    font-size: 17px;
    color: white;
}
.footer .itemHolder .item .itemDecoration::before {
    position: absolute;
    bottom: -3px;
    left: 10%;
    right: 10%;

    content: ""; 

    background-color: white;
    width: 80%;
    height: 2px;

    transition: left 200ms ease-in-out, width 200ms ease-in-out;
}
.footer .itemHolder .item .itemDecoration:hover::before {
    left: 0;

    width: 100%;
}
.popups .feedbackPopup {
    top: 40%;
    right: -55px;

    transform: rotate(270deg);
}
/*

*/
@media screen and (min-width: 760px) {
    .content .header {
        margin: 0 auto;
    }
    .content .main {
        margin: 0 auto;
    }
    .content .main .logo {
        display: flex;
    }
    .content h1.title {
        margin: 55px 20px;
    }
    .content .accountTabs {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;

        background-color: transparent;
        width: 100%;

        margin: 0;
    }
    .accountTabs .tab {
        display: flex;

        background-color: white;
            min-width: 300px;
        padding: 30px;

        flex: 1 0;

    }
    .accountTabs .tab h4.title {
        display: inline-block;

        margin: 5px 0px;
    }
    .accountTabs .tab h5.title {
        margin: 10px 0px 0px 0px;
    }
    h6.title {
        margin: 10px 0px 0px 0px;
    }
    .accountTabs .chooseTab {
        display: none;
    }
    .popups .popup .cookiesPopup.active {
        flex-direction: row;
    }
}
