@charset "UTF-8";

:root {
    --smallNavWidth: 50px;
    --bigNavWidth: 240px;
}
body {
    background-color: rgb(255,255,255);
    padding: 0px;

    margin: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

        min-width: 100vw;
        min-height: 100vh;
    padding: 0px;

    margin: 0px;
}
.header {
    position: fixed;

    background-color: var(--mainColor);
    width: 100%;
    height: 55px;
    box-sizing: border-box;
        padding: 0px 10px;

    z-index: 11;
}
.header .headerBegin {
    display: flex;
    align-items: center;
    gap: 6px;

    height: 100%;
}
.headerBegin .generalNav_button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    width: 37px;
    height: 37px;
    border-radius: 8px;

    cursor: pointer;
}
.headerBegin .generalNav_button:hover {
    background-color: rgba(255,255,255,0.2);
}
.headerBegin .generalNav_button .btn_decoration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;
    height: 80%;
    box-sizing: border-box;
        padding: 6px 4px;
}
.headerBegin .generalNav_button .notificationBubble {
    display: inline;

    position: absolute;
    top: 20%;
    right: 20%;

    background-color: var(--orange);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.headerBegin .generalNav_button.active .notificationBubble {
    display: inline;
}
.headerBegin .generalNav_button .line {
    background-color: white;
    width: 100%;
    height: 2px;
    border-radius: 5px;
}
.headerBegin .generalNav_button .line:nth-last-of-type(1) {
    width: 50%;
}
.headerBegin .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
    height: 100%
}

/*
HEADER
<header class="header">
    <div class="headerBegin">
        <div class="generalNav_button">
            <div class="btn_decoration">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
        <div class="logo">
            <h3 class="title">MyStudy</h3 class=title>
        </div>
    </div>
    <div class="profile">
        <div class="icon"
        </div>
        <div class="info">
            <h3 class="title">Olá, Student Complete Name</h3>
            <p class="text">student@email.com</p>
            <p class="text">Plataform Student ID 4399032</p>
        </div>
    </div>
    <nav class="profileConfigBtns">
        <ul type="none" class="itemHolder">
            <li class="item">
                <div class="innerItem">
                    <div class="decoration"></div>
                </div>
            </li>
            <li class="item">
                <div class="innerItem">
                    <div class="decoration"></div>
                </div>
            </li>
            <li class="item">
                <div class="innerItem">
                    <div class="decoration"></div>
                </div>
            </li>
            <li class="item">
                <div class="innerItem">
                    <div class="decoration"></div>
                </div>
            </li>
        </ul>
    </nav>
</header>
*/
.generalNavigation {
    position: fixed;
    bottom: 0;

    background-color: rgb(255,255,255);
    width: var(--smallNavWidth);
    height: calc(100% - 50px);

    overflow: hidden;

    transition: width 200ms ease-in-out;
}
.generalNavigation:hover {
    width: var(--bigNavWidth);
}
.generalNavigation:hover + .main {
    width: calc(100% - var(--bigNavWidth));
}
.profile {
    display: none;
}
.main {
    position: absolute;
    bottom: 0px;
    right: 0px;

    background-color: rgb(235,235,255);
    width: calc(100% - var(--smallNavWidth));
    height: calc(100% - 50px);

    flex: 1 0;

    transition: width 200ms ease-in-out;
}