@charset "UTF-8";

:root {
    --smallNavWidth: 50px;
    --bigNavWidth: 240px;
}
body {
    background-color: rgb(255,255,255);
    padding: 0px;

    margin: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

        min-width: 100vw;
        min-height: 100vh;
    padding: 0px;

    margin: 0px;
}
.line {
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    height: 2px;
    border-radius: 10px;
}
.header {
    position: relative;

    background-color: var(--mainColor);
    width: 100%;
    height: 55px;
    box-sizing: border-box;
        padding: 0px 0px;

    z-index: 11;
}
.header .headerBegin {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
}
.headerBegin .generalNav_button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    width: 37px;
    height: 37px;
    border-radius: 8px;

    cursor: pointer;

    margin: 8px;
}
.headerBegin .generalNav_button:hover {
    background-color: rgba(255,255,255,0.2);
}
.headerBegin .generalNav_button .btn_decoration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;
    height: 80%;
    box-sizing: border-box;
        padding: 6px 4px;
}
.headerBegin .generalNav_button .notificationBubble {
    display: inline;

    position: absolute;
    top: 20%;
    right: 20%;

    background-color: var(--orange);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.headerBegin .generalNav_button.active .notificationBubble {
    display: inline;
}
.headerBegin .generalNav_button .line {
    background-color: white;
    width: 100%;
    height: 2px;
    border-radius: 5px;
}
.headerBegin .generalNav_button .line:nth-last-of-type(1) {
    width: 50%;
}
.headerBegin .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
    height: 100%;
}
.header .profile {
    left: 0;

    display: flex;
    align-items: center;

    background-color: var(--mainColor);
    width: 100%;
    height: 125px;

    opacity: 1;

    margin: 0px;
}
.header .profile .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(230,230,230);
    width: 50px;
    height: 50px;
    border-radius: 50%;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: var(--mainColor);

    flex: 0 0 auto;

    margin: 20px;
}
.header .profile .infoHolder {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.header .profile .title {
    font-size: 20px;
    font-family: Calibri;
} 
.header .profile .text {
    padding: 0px;

    font-family: Calibri;
    color: white;

    margin: 0px;
}
.generalNavigation {
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: rgb(250,250,250);
    width: 100%;
    box-sizing: border-box;
        padding: 20px;

    overflow: scroll;

    transition: width 200ms ease-in-out;

    margin: 0px;
}
.generalNavigation .subNav {
    background-color: rgba(0,200,0,0.4);
}
.subNav .title {
    margin: 0px;

}
.subNav .itemHolder {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0px;

    margin: 0px;
}
.subNav .itemHolder .item {
    background-color: rgba(0,0,100,0.2);
    padding: 14px;
}
.subNav .itemHolder .item:hover {
    background-color: red;
}
.subNav .itemHolder .item .icon {
    margin: 0px;
}
.subNav .itemHolder .item .text {
    margin: 0px;
}
/*
<nav class="generalNavigation">
<section class="subNav profileNav">
    <ul type="none" class="itemHolder">
        <li class="item active">
            <a>
            <div class="icon"></div>
            <p class="text">Início</p>
            </a>
        </li>
        <li class="item">
            <a>
            <div class="icon"></div>
            <p class="text">Notificações</p>
        </li>
        <li class="item">
            <div class="icon"></div>
            <p class="text">Ajuda</p>
            <ul type="none" class="subItem">
                <li class="item">
                    <div class="icon"></div>
                    <p class="text">Central de privacidade</p>
                </li>
            </ul>
        </li>
        <li class="item">
            <div class="icon"></div>
            <p class="text">Minha conta</p>
            <ul type="none" class="subItem">
                <li class="item">
                    <div class="icon"></div>
                    <p class="text">Dados pessoas e acesso</p>
                </li>
                <li class="item">
                    <div class="icon"></div>
                    <p class="text">Responsáveis vinculados</p>
                </li>
                <li class="item">
                    <div class="icon"></div>
                    <p class="text">Código de acesso</p>
                </li>
                <li class="item">
                    <div class="icon"></div>
                    <p class="text">Comunicações</p>
                </li>
                <li class="item">
                    <div class="icon"></div>
                    <p class="text">Privacidade</p>
                </li>
                <li class="item">
                    <div class="icon"></div>
                    <p class="text">Sair</p>
                </li>
            </ul>
        </li>
    </ul>
</section>
<span class="line"></span>
<section class="subNav featureNav">
    <h6 class="title">
        SALA DE AULA
    </h6>
    <ul type="none" class="itemHolder">
        <li class="item">
            <a>
                <div class="icon"></div>
                <p class="name">Biblioteca de conteúdos</p>
            </a>
        </li>
        <li class="item">
            <a>
                <div class="icon"></div>
                <p class="text">Maestro</p>
            </a>
        </li>
        <li class="item">
            <a>
                <div class="icon"></div>
                <p class="text">Atividades</p>
            </a>
        </li>
        <li class="item">
            <a>
                <div class="icon"></div>
                <p class="text">Aulas digitais</p>
            </a>
        </li>
        <li class="item">
            <a>
                <div class="icon"></div>
                <p class="text">Plurall Olímpico</p>
            </a>
        </li>
        <li class="item menu">
            <div class="icon"></div>
            <p class="text">Simulados e Provas</p>
            <div class="icon"></div>
            <ul type="none" class="subItem">
                <div class="item">
                    <p class="text">Avaliações</p>
                </div>
                <div class="item">
                    <p class="text">Resultados de Avaliações</p>
                </div>
            </ul>
        </li>
        <li class="item menu">
            <div class="icon"></div>
            <p class="text">Dúvidas e materiais</p>
            <div class="icon"></div>
            <ul type="none" class="subItem">
                <div class="item">
                    <p class="text">Ver materiais e tirar dúvidas</p>
                </div>
                <div class="item">
                    <p class="text">Minhas dúvidas</p>
                </div>
            </ul>
        </li>
    </ul>
</section>
       
</nav>
*/
/*
HEADER
<header class="header">
    ...
    ...
    <nav class="profileConfigBtns">
        <ul type="none" class="itemHolder">
            <li class="item">
                <div class="innerItem">
                    <div class="decoration"></div>
                </div>
            </li>
            <li class="item">
                <div class="innerItem">
                    <div class="decoration"></div>
                </div>
            </li>
            <li class="item">
                <div class="innerItem">
                    <div class="decoration"></div>
                </div>
            </li>
            <li class="item">
                <div class="innerItem">
                    <div class="decoration"></div>
                </div>
            </li>
        </ul>
    </nav>
</header>
*/
.main {
    bottom: 0px;
    right: 0px;

    background-color: rgb(230,230,230);
    width: calc(100% - var(--smallNavWidth));
    height: calc(100% - 50px);

    flex: 1 0;

    transition: width 200ms ease-in-out;
}
