@charset "UTF-8";

:root {
    --mainColor: rgb(117,10,250);
    --orange: rgb(255,110,0);
}
body {
    display: flex;

    background-color: var(--mainColor);
    min-width: 100vw;
    min-height: 100vh;

    color: rgba(0,0,0,0.8);

    margin: 0px;
}
h1.title {
    font-size: 34px;
    font-family: Verdana;

    color: whitesmoke;
    
    margin: 40px auto;
}
h5.title {
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;

    margin: 10px 0px 0px 0px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: space-between;

    width: 100%;
}
.content .accountTabs {
    display: flex;
    flex-direction: column;

    background-color: whitesmoke;
    width: 95%;
        max-width: 800px;
    height: auto;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 15px;

    overflow: hidden;

    margin: 0 auto;
}
.accountTabs .chooseTab {
    border-bottom: solid 1px rgba(0,0,0,0.3);

    margin: 0px 0px;
}
.chooseTab .itemHolder {
    display: flex;
    flex-direction: row;
    gap: 25px;

    padding: 0px;

    margin: 0px;
}
.chooseTab .itemHolder .item {
    position: relative;

    font-family: Verdana;
    font-weight: normal;
    font-size: 15px;

    cursor: pointer;

    padding: 10px 0px 15px 0px;
}
.chooseTab .itemHolder .item.active {
    color: var(--mainColor);
}
.chooseTab .itemHolder .item.active::before {
    position: absolute;
    bottom: -2px;
    left: 10%;

    content: "";

    background-color: var(--mainColor);
    width: 80%;
    height: 4px;
    border-radius: 3px;
}
.chooseTab .itemHolder .item:hover {
    color: var(--mainColor);
}
.accountTabs .signInTab {
    display: none;
    flex-direction: column;
    gap: 14px;

    margin: 10px 0px;
}
.accountTabs .signInTab.active {
    display: flex;
}
.signInTab .inputHolder {
    display: flex;
    flex-direction: column;

    position: relative;
}
.signInTab .inputHolder .inputDecoration { 
    position: absolute;
    top: -10px;
    left: 20px;

    display: none;

    background-color: rgb(248, 248, 248);
    padding: 0px 5px;

    user-select: none;
}
.signInTab .inputHolder .inputDecoration.active { 
    display: inline;
}
.signInTab .inputHolder .signInInput { 
    background-color: rgb(242,242,242);
    width: 88%;
    height: 40px;
    box-sizing: border-box;
        border: solid 2px rgba(0,0,0,0.10);
        padding: 16px 15px;    
    outline: none;
    border-radius: 8px;

    font-size: 17px;

    transition: border 250ms ease-in-out;

    margin: 0px 0px 10px 0px;
}
.signInTab .inputHolder .signInInput.active { 
    background-color: rgb(248, 248, 248);

    border: solid 2px var(--mainColor);
}
.signInTab .inputHolder .form_HelpLink {
    font-family: Arial;
    font-size: 14px;
    text-decoration: underline;
    color: var(--mainColor);

    cursor: pointer;

    margin: 0px 0px 0px auto;
}
.signInTab .submit {
    background-color: rgb(110,110,110);
    width: 100%;
    height: 34px;
    border: none;
    outline: none;    
    border-radius: 10px;
    
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;

    color: rgb(200,200,200);

    transition: background-color 100ms linear, color 100ms linear;
}
.signInTab .submit:hover {
    background-color: var(--orange);

    color: white;
}
.signUpTab {
    display: none;
    flex-direction: column;
    padding: 10px;
}
.signUpTab.active {
    display: flex;
}
.signUpTab .signUpOptions {
    display: flex;
    flex-direction: column;

    background-color: transparent;
    padding: 0px;

    margin: 10px 10px;
}
.signUpTab .signUpOptions .outerItem {
    display: flex;
    align-items: center;

    width: 100%;
    height: auto;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    padding: 8px 0px;

    user-select: none;

    margin: 0px;
}
.signUpTab .signUpOptions .outerItem .innerItem {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    background-color: transparent;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-sizing: border-box;
        padding: 0px 10px;
    
    cursor: pointer;

    user-select: none;
}
.signUpTab .signUpOptions .outerItem .innerItem:hover {
    background-color: rgba(0,0,0,0.1);
}
.signUpTab .innerItem .name {
    font-family: Arial;
    color: rgba(0,0,0,0.7)
}
.signUpTab .innerItem .icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.signUpTab .innerItem .icon.logo {
    background-color: var(--orange);
}
.signUpTab .innerItem .icon.arrow {
    width: 0px;
    height: 0px;
        border-left: 10px var(--orange) solid;
        border-top: 8px transparent solid;
        border-bottom: 8px transparent solid;
    border-radius: 0px;

    margin: 0px 0px 0px auto;;
}
.signUpTab .innerItem:hover .icon.logo {
    background-color: grey;
}
.signUpTab .innerItem:hover .icon.arrow {
    border-left: 10px grey solid;
}

/*
<div class="signUpTab">
    <h5 class="title">Selecione uma opção para se cadastrar</h5>
    <ul type="none" class="singUpOptions">
        <li classs="item">
            <div class="icon"></div>
            <p class="name">Alunos</p>
            <div class="icon"></div>
        </li>
        <li classs="item">
            <div class="icon"></div>
            <p class="name">Responsável</p>
            <div class="icon"></div>
        </li>
        <li classs="item">
            <div class="icon"></div>
            <p class="name">Professor e Equipe escolar</p>
            <div class="icon"></div>
        </li>
        <li classs="item">
            <div class="icon"></div>
            <p class="name">Código de material Plurall</p>
            <div class="icon"></div>
        </li>
    </ul>
*/